body{
    direction: rtl;
    background-color: rgb(234, 251, 238);
}
.link {
    stroke: #ccc;
}
#btn{
    background-color: rgb(183, 184, 182);
}
#word{
    background-color: rgb(234, 251, 238);
}
.node text {
    pointer-events: none;
    /*font: 10px sans-serif;*/
    font-size: 11px;
}
.node circle{
    stroke: rgb(51, 204, 204);
    stroke-width: 2px;
    box-sizing: bordr-box;
    stroke-location: inside;
}
svg#svgid {
    background-color: rgb(230, 230, 255);
    border: 2px solid rgb(40, 178, 75);
    border-radius: 5px;
    width: 100%;
    height: auto;
}
#error{
    color:red;
}
#all{
    background-color: rgb(35, 66, 45);
    width: 40%;
    height: auto;
    color: rgb(234, 251, 238);
    border: 3px solid rgb(40, 178, 75);
    border-radius: 5px;
}
#h{
    background-color: rgb(40, 178, 75);
    margin-top: 0;
    padding-bottom: 10px;
    color:rgb(234, 251, 238);
}
#lbl{
    float: right;
    margin-right: 10%;
}
