{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{%static "style.css"%}"/>
        <meta charset="UTF-8" />
        <title>درخت باهم آیی کلمات</title>
    </head>
    <body>
        <center>
            <div id="all">
                <div id="parent">
                    <h1 id="h">جستجو</h1> 
                    <div id="search"> 
                        <label for="word" id="lbl" >کلمه موردنظر را وارد کنید</label>
                        <div id="ww"><input id="word" name="word" required type="text" /></div>
                    </div>
                    <p><input id="btn" type="submit" value="جستجو" /></p>
                </div>
                <div id="error"></div>
            </div>
        </center>
        <script src="{%static "d3.v3.min.js"%}"></script>
        <script src="{%static "jquery-3.1.1.min.js"%}"></script>
        <script type="text/javascript">
            var jsonresult = "";
            $(document).ready(function() {
                $("#btn").click(function(e) {
                    e.defaultPrevented;
                    var input_d = $("#word").val();
                    $.ajax({
                        url : "/graph/", 
                        type : "POST",
                        dataType: "json", 
                        data : {
                            select_word : input_d,
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        success : function(json) {
                            if (json.error){
                                $("#svgid").hide();
                                $("#error").show();
                                $("#error").html('<h1>کلمه موردنظر یافت نشد!</h1>');
                            }
                            else{
                                $("#error").hide();
                                $("#svgid").show();
                                creategraph(json.data);
                            }
                        },
                        error : function(xhr,errmsg,err) {
                            alert(xhr.status + ": " + xhr.responseText);
                            alert(xhr.readyState);
                        }
                    });
                    return false;
                });
            });
        </script>
        <script type="text/javascript">
            function creategraph(data){
                var width = 1300,
                height = 650;
                //Set up the colour scale
                var color = d3.scale.category20();

                //Set up the force layout
                var force = d3.layout.force()
                    .charge(-120)
                    .linkDistance(80)
                    .size([width, height]);

                d3.select("svg").remove();
                //Append a SVG to the body of the html page. Assign this SVG as an object to svg
                var svg = d3.select("body").append("svg")
                    .attr("id", "svgid")
                    .attr("width", width)
                    .attr("height", height);

                //Read the data from the mis element 
                var mis = JSON.stringify(data);
                graph = JSON.parse(mis);

                //Creates the graph data structure out of the json data
                force.nodes(graph.nodes)
                    .links(graph.links)
                    .start();

                //Create all the line svgs but without locations yet
                var link = svg.selectAll(".link")
                    .data(graph.links)
                    .enter().append("line")
                    .attr("class", "link")
                    .style("stroke-width", function (d) {
                        return Math.sqrt(d.value);
                    });

                //Do the same with the circles for the nodes - no 
                var node = svg.selectAll(".node")
                    .data(graph.nodes)
                    .enter().append("g")
                    .attr("class", "node")
                    .call(force.drag);

                node.append("circle")
                    .attr("r", 12)
                    .on("click", functionbtn)
                    .style("fill", function (d) {
                    return color(d.group);
                })

                node.append("text")
                    .attr("dx", 10)
                    .attr("dy", ".35em")
                    .text(function(d) { return d.name });

//Now we are giving the SVGs co-ordinates - the force layout is generating the co-ordinates which this code is using to update the attributes of the SVG elements
                force.on("tick", function () {
                    link.attr("x1", function (d) {
                        return d.source.x;
                    })
                    .attr("y1", function (d) {
                        return d.source.y;
                    })
                    .attr("x2", function (d) {
                        return d.target.x;
                    })
                    .attr("y2", function (d) {
                        return d.target.y;
                    });

    //Changed
    
                    d3.selectAll("circle").attr("cx", function (d) {
                        return d.x;
                    })
                    .attr("cy", function (d) {
                        return d.y;
                    });

                    d3.selectAll("text").attr("x", function (d) {
                        return d.x;
                    })
                    .attr("y", function (d) {
                        return d.y;
                    });
    
    //End Changed

                });
            }
            function functionbtn(d){
                var input = d.name;
                $.ajax({
                    url : "/graph/", 
                    type : "POST",
                    dataType: "json", 
                    data : {
                        select_word : input,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success : function(json) {
                        $("#ww").html('<input id="word" name="word" required type="text" value="'+input+'">');
                        if (json.error){
                            $("#svgid").hide();
                            $("#error").show();
                            $("#error").html('<h1>کلمه موردنظر یافت نشد!</h1>');
                        }
                        else{
                            $("#error").hide();
                            $("#svgid").show();
                            creategraph(json.data);
                        }
                    },
                    error : function(xhr,errmsg,err) {
                        alert(xhr.status + ": " + xhr.responseText);
                        alert(xhr.readyState);
                    }
                });
                return false;
            }
        </script>
    </body>
</html>
